h1 {
    text-align: center;

}
.navbar {
    text-align: right;
}

.listNavbar {
    list-style: none;
}

.titulos {
    text-align: center;
    font-family: 'Noto Serif', serif;    
}

.conhecimentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-bottom: 1rem;
}

.contatos {
    display: flex;
}

.icones-conhecimentos {
    display: inline;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}