
header {
    width: 100%;
    background-color: aqua;
    max-width: 1140px;
    border: 20px;
}

.navbar {
    text-align: center;
}

.linknav {
  list-style: none;
  margin: 20px;
  padding: 20px;
  display: inline; 
}

a {
    text-decoration: none;
    color: inherit;
}

.contatos p {
    text-align: center;
    font-family: 'Noto Serif', serif;    
} 

 .email {
     text-align: center;
 }

.icones-contatos {
    list-style: none;
   
}
    

 