
header {
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    background-color: aqua;
    max-width: 1140px;
    border: 20px;
}

.navbar {
    text-align: center;
}

.linknav {
  list-style: none;
  margin: 20px;
  padding: 20px;
  display: inline;
  
    
}

a {
    text-decoration: none;
    color: inherit;
}

.titulos {
    text-align: center;
    font-family: 'Noto Serif', serif;    
}

.conhecimentos {
    
}

.contatos p {
    text-align: center;
}

.icones-contatos {
    list-style: none;
   
}
    

 